.pagination-container {
  width: 100%;

  .results {

    .total-results {
      font-size: 14px;
      text-wrap: nowrap;
      color: var(--primary-color);
      margin: 0;
    }

    .current-page {
      font-size: 12px;
      color: var(--gray-color);
      margin: .2rem 0 0 0;
    }
  }

  .page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;

    .page-button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: var(--tertiary-color);
      color: var(--primary-color);
      border: none;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: var(--accent-color);
      }

      &:disabled {
        opacity: .5;
        cursor: not-allowed;
        background-color: var(--tertiary-color);
      }
    }
  }

  .pagination {
    select {
      display: block;
      width: 4.5rem;
      outline: none;
      padding: 0.375rem 1rem;
      font-size: medium;
      font-family: var(--font-family), sans-serif;
      line-height: 1.5;
      color: var(--black-color);
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      appearance: none;
      background: var(--white-color) url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 10px top 50%;
      background-position: right 10px top 50%;

      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: var(--primary-color);
        outline: 0;
      }
    }
  }
}
