<div class="flex justify-center bg-white">
  <h1>
    <i class="fa-solid fa-money-bills"></i>
    BANCO
  </h1>
</div>
<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <div class="flex justify-between align-center">
        <app-text-input [formControl]="searchControl" placeholder="Search..."/>
        <app-button (onClick)="createProduct()" color="accent">Agregar</app-button>
      </div>
      <app-products-table [products]="products()"/>
    </div>
  </div>
</div>
