<app-modal-wrapper [titleText]="titleText()">
  <div class="flex flex-column">
    <p class="text-center">{{ message() }}</p>
    <div class="flex justify-center gap-1 mt-2">
      @if (showCancel()) {
        <app-button (onClick)="handleConfirm(false)" color="tertiary">
          {{ cancelText() }}
        </app-button>
      }
      @if (showConfirm()) {
        <app-button (onClick)="handleConfirm(true)" color="accent">
          {{ confirmText() }}
        </app-button>
      }
    </div>
  </div>
</app-modal-wrapper>
